.test-ct-view p{
	font-size: 10px;
}

.test-image-bg{
	background: rgba(42,46,52,0.5);
	position: absolute;
	bottom: 0;
	color:#fff;
	padding: 5px 0;
	width: 100%;

	.test-title{
	  float: left;
	  padding: 5px;
	}
}
