/* Large desktops and laptops */
@media (min-width: 1200px) {
    .top-line-first{
        .site_name{
            .img-responsive, img{
                width: 100%
            }
        }
        .slider-leaderboard{
            margin-top: 1%;
        }
    }
    .login_register,
    .member_login_register,
    .membersignup,
    .companycontactinformation{
        left: 16% !important;
    }
    .getdiscountcoupon{
        margin-left: 15%;
    }

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 768px) {
    .region-top {
        display: none;
    }
    // make-discount-coupon node
    .discount-company-category {
      button {
        margin-top: 0 !important;
      }
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    div.login_register,
    div.member_login_register,
    div.membersignup{
        margin-left: 16%;
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .top-line-first{
        .site_name{
            .img-responsive, img{
                width: 100%
            }
        }
        .slider-leaderboard{
            margin-top: 1%;
        }
    }

    #add-discount, #edit-discount{
      #edit-submit{
        padding: 10px 230px;
        margin-left: 24%;
      }
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .top-line-first{
        padding-left: 0px;
        padding-right: 0px;
        .site_name{
            .img-responsive, img{
                width: 100%;
            }
        }
        .slider-leaderboard{
            margin-top: 3%;
        }
        .col-sm-4{
            width: 41.66666667% !important;
        }
        .col-sm-8{
            margin-top: 3%;
            width: 58.33333333% !important;
        }
    }

    .top-line-right{
        padding: 0;
    }
    .top-line{
        p{
            .top-location1{
                padding: 3px 20px;
            }
        }
    }

    //search
    #views-exposed-form-search-content-page-1 {
      .form-type-textfield {
        width: 87%;
      }
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .site_name{
      z-index: 999;
    }
    .locdropdown-mobile{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    .top-line{
        visibility: hidden;
        clear: both;
        display: none;
    }
    header.navbar{
        display: none;
    }
    .discount{
        margin-top: 10px;
        .view-discount-exclusivity, .view-discount-amount{
          top:4%;
        }
    }


    .top-line{
        .container{
          padding: 5px 10px;
        }
        p{
          .top-location1{
            padding: 3px 5px;
            margin: 0;
          }
          .top-location2{
            padding: 3px 5px;
            margin: 0;
          }
        }
    }
    .top-line-left{
        text-align: left !important;
        padding: 0;
    }
    .top-line-right{
        padding: 0;
        text-align: left !important;
    }
    #blocktabs-discount_offers_tabs-1{
        padding: 0;
    }
    .feartured_left, .feartured_right{
        padding: 0;
    }

    .views-bootstrap-top-offers-block-1{
        .col{
          margin: 10px;
        }
    }
    #block-blocktabsdiscountofferstabs{
        .views-field-field-discount-offer{
              margin-top: 5px;
              margin-bottom: 5px;
        }
    }
    // views page food
    .views-bootstrap-food-beverages-page-1{
        .views-field-field-discount-offer{
          margin-top: 5px;
          margin-bottom: 5px;
        }
    }

    #block-discountcoupondeletegetdiscountblock,
    #block-discountcoupondeletegetdiscountblock--2{
       button{
           width: 100%;
           margin-top: 10px;
       }
    }
    #block-advancesearchblock {
        margin-bottom: 10px;
    }
    //search
    #views-exposed-form-search-content-page-1 {
      .form-type-textfield {
        width: 80%;
      }
    }

    //medium banner
    #views-bootstrap-medium-banner-350x250-medium-banner-block {
        margin-left: 30%;
        margin-right: 30%;
    }
    // small banner
    .view-id-small_banner {
      margin-left: 30%;
      margin-right: 30%;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .site_name, .slider-leaderboard{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .top-line-first{
        .site_name{
            .img-responsive, img{
                width: 100%;
            }
        }
    }
    .companycontactinformation{
        #discountclub_company_register2_modal_form{
            height: 310px !important;
        }
    }
    header.navbar{
        display: none;
    }
    //search
    #views-exposed-form-search-content-page-1 {
      .form-type-textfield {
        width: 70%;
      }
    }
    //medium banner
    #views-bootstrap-medium-banner-350x250-medium-banner-block{
        margin-left: 10%;
        margin-right: 10%;
    }
    // small banner
    .view-id-small_banner {
        margin-left: 10%;
        margin-right: 10%;
    }

    .col-sm-6{
      .discount-title{
        margin-top: 10px;
      }
    }

    .div-redeem,
    .div-delete{
      border:1px solid #c22026 !important;
      background: #fff !important;
      a{
        color: #c22026 !important;
      }
    }
    // map
    .gmap-disc {
      margin-bottom: 15px;

    }

}

@media (max-width: 414px) {
    //search
    #views-exposed-form-search-content-page-1 {
        .form-type-textfield {
            width: 75%;
        }
    }

    .validate-redeem-code-form {
      .form-control {
        height: 50px;
      }
    }
    //user account
    .input-mobile-country-code {
      width: 60px !important;
    }
    #edit-user-info-1-1-basic-info-7-data-mobile-mobile-no {
      width: 100px;
    }

    #edit-user-info {
       .img-company-logo {
         width: 100%;
       }
    }
}
@media (max-width: 375px) {
    //search
    #views-exposed-form-search-content-page-1 {
      .form-type-textfield {
        width: 70%;
      }
    }

    .validate-redeem-code-form {
      .form-control {
        padding: 0;
        height: 50px;
      }
    }
    // user coupon
    .view-user-coupons-view{
        .col-sm-3{
            margin-top: 5px;
        }
    }
}

@media (max-width: 320px) {
    // user coupon
    .view-user-coupons-view{
        .col-sm-3{
            margin-top: 5px;
        }
    }
    .validate-redeem-code-form {
      .form-control {
        padding: 0;
        height: 50px;
      }
    }

}
